/* line 2, ../project/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../project/src/sass/_general.sass */
header {
  position: relative;
  height: 50px;
}

/* line 5, ../project/src/sass/_general.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

/* line 11, ../project/src/sass/_general.sass */
.hamburger {
  display: none;
}

/* line 13, ../project/src/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 19, ../project/src/sass/_general.sass */
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

/* line 23, ../project/src/sass/_general.sass */
.menu_link:hover {
  text-decoration: none;
  color: #1eacc1;
}

/* line 26, ../project/src/sass/_general.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 29, ../project/src/sass/_general.sass */
.menu_item:last-child {
  border-right: none;
}

/* line 32, ../project/src/sass/_general.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 38, ../project/src/sass/_general.sass */
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 42, ../project/src/sass/_general.sass */
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* line 48, ../project/src/sass/_general.sass */
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

/* line 54, ../project/src/sass/_general.sass */
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

/* line 63, ../project/src/sass/_general.sass */
.subheader_phone:hover {
  text-decoration: none;
  color: #fff;
}

/* line 66, ../project/src/sass/_general.sass */
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc1 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 2, ../project/src/sass/_mixins.sass */
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc1;
}

/* line 81, ../project/src/sass/_general.sass */
.promo {
  min-height: 800px;
  background: url("../img/bg/promo_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 85, ../project/src/sass/_general.sass */
.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

/* line 93, ../project/src/sass/_general.sass */
.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

/* line 102, ../project/src/sass/_general.sass */
.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

/* line 109, ../project/src/sass/_general.sass */
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc1 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 2, ../project/src/sass/_mixins.sass */
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc1;
}

/* line 125, ../project/src/sass/_general.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 127, ../project/src/sass/_general.sass */
.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 132, ../project/src/sass/_general.sass */
.reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc1;
  border-radius: 100%;
}

/* line 141, ../project/src/sass/_general.sass */
.reasons_descr {
  width: 343px;
}

/* line 143, ../project/src/sass/_general.sass */
.reasons_subtitle {
  line-height: 21px;
  color: #30defdcc;
  font-size: 17px;
  font-weight: 400;
}

/* line 148, ../project/src/sass/_general.sass */
.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* line 154, ../project/src/sass/_general.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 167, ../project/src/sass/_general.sass */
.label_white {
  background-color: #fff;
  color: #000;
}

/* line 170, ../project/src/sass/_general.sass */
.label_min {
  width: 76px;
}

/* line 173, ../project/src/sass/_general.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 184, ../project/src/sass/_general.sass */
.title_white {
  color: #fff;
}

/* line 187, ../project/src/sass/_general.sass */
.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

/* line 195, ../project/src/sass/_general.sass */
.subtitle_white {
  color: #fff;
}

/* line 198, ../project/src/sass/_general.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

/* line 202, ../project/src/sass/_general.sass */
.mobile .row {
  margin-top: 32px;
}

/* line 204, ../project/src/sass/_general.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

/* line 211, ../project/src/sass/_general.sass */
.mobile_item_1 {
  background: url("../img/mobile/mobile_1.jpg") center center/cover no-repeat;
}

/* line 213, ../project/src/sass/_general.sass */
.mobile_item_2 {
  background: url("../img/mobile/mobile_2.jpg") center center/cover no-repeat;
}

/* line 215, ../project/src/sass/_general.sass */
.mobile_item_3 {
  background: url("../img/mobile/mobile_3.jpg") center center/cover no-repeat;
}

/* line 217, ../project/src/sass/_general.sass */
.mobile_item_4 {
  background: url("../img/mobile/mobile_4.jpg") center center/cover no-repeat;
}

/* line 219, ../project/src/sass/_general.sass */
.mobile_item_5 {
  background: url("../img/mobile/mobile_5.jpg") center center/cover no-repeat;
}

/* line 221, ../project/src/sass/_general.sass */
.mobile_item_6 {
  background: url("../img/mobile/mobile_6.jpg") center center/cover no-repeat;
}

/* line 223, ../project/src/sass/_general.sass */
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

/* line 230, ../project/src/sass/_general.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

/* line 244, ../project/src/sass/_general.sass */
.mobile_item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc1;
  transition: 0.3s all;
}

/* line 251, ../project/src/sass/_general.sass */
.mobile_item_plus::after {
  content: '';
  position: absolute;
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc1;
  transition: 0.3s all;
}

/* line 260, ../project/src/sass/_general.sass */
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #f7e931;
}

/* line 263, ../project/src/sass/_general.sass */
.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

/* line 268, ../project/src/sass/_general.sass */
.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

/* line 273, ../project/src/sass/_general.sass */
.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

/* line 279, ../project/src/sass/_general.sass */
.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

/* line 288, ../project/src/sass/_general.sass */
.require {
  padding: 64px 0 84px 0;
}

/* line 290, ../project/src/sass/_general.sass */
.require_block {
  margin: 40px 0;
}

/* line 293, ../project/src/sass/_general.sass */
.require_block_nmb {
  margin-bottom: 0px;
}

/* line 295, ../project/src/sass/_general.sass */
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

/* line 299, ../project/src/sass/_general.sass */
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 12px;
}

/* line 303, ../project/src/sass/_general.sass */
.require_list li {
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: 350;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 310, ../project/src/sass/_general.sass */
.require_list li::before {
  content: '';
  display: block;
  position: absolute;
  left: -33px;
  top: 3%;
  width: 25px;
  height: 24px;
  background: url("../img/icons/require_icon.png") center center/cover no-repeat;
}

/* line 319, ../project/src/sass/_general.sass */
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

/* line 326, ../project/src/sass/_general.sass */
.warning .require_title {
  color: #ff5656;
}

/* line 330, ../project/src/sass/_general.sass */
.warning .require_list li::before {
  background: url("../img/icons/red_check.png");
}

/* line 333, ../project/src/sass/_general.sass */
.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/bg/world_bg.jpg") center center/cover no-repeat;
}

/* line 338, ../project/src/sass/_general.sass */
.world_link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
}

/* line 349, ../project/src/sass/_general.sass */
.world_link:hover {
  text-decoration: none;
  color: #fff;
}

/* line 352, ../project/src/sass/_general.sass */
footer {
  padding: 14px 23px 39px 23px;
}

/* line 355, ../project/src/sass/_general.sass */
footer a:hover {
  text-decoration: none;
}

/* line 358, ../project/src/sass/_general.sass */
.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

/* line 363, ../project/src/sass/_general.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 368, ../project/src/sass/_general.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 370, ../project/src/sass/_general.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 373, ../project/src/sass/_general.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 377, ../project/src/sass/_general.sass */
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

/* line 386, ../project/src/sass/_general.sass */
.footer_social_item i {
  color: #fff;
}

/* line 388, ../project/src/sass/_general.sass */
.footer_links {
  width: 390px;
  margin: 0 auto;
}

/* line 391, ../project/src/sass/_general.sass */
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 395, ../project/src/sass/_general.sass */
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 400, ../project/src/sass/_general.sass */
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 404, ../project/src/sass/_general.sass */
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 409, ../project/src/sass/_general.sass */
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

/* line 419, ../project/src/sass/_general.sass */
.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  /* line 3, ../project/src/sass/_media.sass */
  .menu_item {
    padding-right: 20px;
  }
  /* line 5, ../project/src/sass/_media.sass */
  .menu_link {
    font-size: 13px;
  }
  /* line 8, ../project/src/sass/_media.sass */
  .promo_header {
    font-size: 50px;
  }
  /* line 11, ../project/src/sass/_media.sass */
  .reasons_block {
    align-items: flex-start;
  }
  /* line 13, ../project/src/sass/_media.sass */
  .reasons_descr {
    width: 300px;
  }
  /* line 16, ../project/src/sass/_media.sass */
  .mobile_item {
    width: 290px;
  }
  /* line 18, ../project/src/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 22px;
  }
  /* line 20, ../project/src/sass/_media.sass */
  .choice {
    padding: 55px 0;
    min-height: 840px;
  }
  /* line 24, ../project/src/sass/_media.sass */
  .require br {
    display: none;
  }
  /* line 27, ../project/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 50%;
  }
  /* line 29, ../project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  /* line 31, ../project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  /* line 35, ../project/src/sass/_media.sass */
  .footer_mobile {
    display: flex;
  }
  /* line 37, ../project/src/sass/_media.sass */
  .footer_mobile a {
    margin: 0 3px;
  }
  /* line 39, ../project/src/sass/_media.sass */
  .footer_mobile a img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  /* line 42, ../project/src/sass/_media.sass */
  .title {
    font-size: 28px;
  }
  /* line 45, ../project/src/sass/_media.sass */
  .menu_item {
    padding-right: 8px;
  }
  /* line 47, ../project/src/sass/_media.sass */
  .menu_link {
    font-size: 10px;
  }
  /* line 51, ../project/src/sass/_media.sass */
  .subheader_logo img {
    width: 100%;
  }
  /* line 53, ../project/src/sass/_media.sass */
  .subheader_official {
    font-size: 11px;
  }
  /* line 55, ../project/src/sass/_media.sass */
  .subheader_phone {
    font-size: 18px;
  }
  /* line 57, ../project/src/sass/_media.sass */
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  /* line 62, ../project/src/sass/_media.sass */
  .promo_header {
    font-size: 40px;
  }
  /* line 64, ../project/src/sass/_media.sass */
  .promo_subheader {
    font-size: 30px;
  }
  /* line 67, ../project/src/sass/_media.sass */
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  /* line 70, ../project/src/sass/_media.sass */
  .reasons_round {
    margin-right: 0;
  }
  /* line 72, ../project/src/sass/_media.sass */
  .reasons_descr {
    width: 300px;
    margin-top: 20px;
  }
  /* line 75, ../project/src/sass/_media.sass */
  .choice {
    min-height: 800px;
  }
  /* line 77, ../project/src/sass/_media.sass */
  .choice_img {
    width: 100%;
  }
  /* line 79, ../project/src/sass/_media.sass */
  .world {
    min-height: 650px;
  }
  /* line 82, ../project/src/sass/_media.sass */
  .footer_wrapper {
    flex-wrap: wrap;
  }
  /* line 84, ../project/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  /* line 89, ../project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  /* line 91, ../project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  /* line 95, ../project/src/sass/_media.sass */
  .title {
    margin-top: 25px;
  }
  /* line 97, ../project/src/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 109, ../project/src/sass/_media.sass */
  .menu_active {
    left: 0;
  }
  /* line 111, ../project/src/sass/_media.sass */
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  /* line 115, ../project/src/sass/_media.sass */
  .menu_link {
    font-size: 20px;
  }
  /* line 117, ../project/src/sass/_media.sass */
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  /* line 125, ../project/src/sass/_media.sass */
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  /* line 133, ../project/src/sass/_media.sass */
  .hamburger_active span {
    margin-bottom: -2px;
  }
  /* line 135, ../project/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 137, ../project/src/sass/_media.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 139, ../project/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 141, ../project/src/sass/_media.sass */
  .xs-hidden {
    display: none;
  }
  /* line 143, ../project/src/sass/_media.sass */
  .xs-visible {
    display: block;
  }
  /* line 146, ../project/src/sass/_media.sass */
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }
  /* line 155, ../project/src/sass/_media.sass */
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  /* line 162, ../project/src/sass/_media.sass */
  .promo_header {
    line-height: 45px;
  }
  /* line 164, ../project/src/sass/_media.sass */
  .reasons {
    padding: 40px 0;
  }
  /* line 166, ../project/src/sass/_media.sass */
  .reasons_descr {
    width: 350px;
  }
  /* line 168, ../project/src/sass/_media.sass */
  .reasons_subtitle {
    text-align: center;
  }
  /* line 170, ../project/src/sass/_media.sass */
  .reasons_text {
    margin-top: 10px;
  }
  /* line 172, ../project/src/sass/_media.sass */
  .mobile {
    padding: 40px 0;
  }
  /* line 174, ../project/src/sass/_media.sass */
  .choice {
    min-height: 600px;
    padding: 40px 0;
  }
  /* line 177, ../project/src/sass/_media.sass */
  .require {
    padding: 40px 0;
  }
  /* line 179, ../project/src/sass/_media.sass */
  .world {
    min-height: 450px;
  }
}
@media (max-width: 575px) {
  /* line 165, ../project/src/sass/_media.sass */
  nav {
    height: 30px;
  }
  /* line 167, ../project/src/sass/_media.sass */
  header {
    height: 30px;
  }
  /* line 169, ../project/src/sass/_media.sass */
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  /* line 173, ../project/src/sass/_media.sass */
  .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-top: 11px;
  }
  /* line 177, ../project/src/sass/_media.sass */
  .subheader {
    height: 60px;
    top: 30px;
  }
  /* line 180, ../project/src/sass/_media.sass */
  .subheader_official {
    display: none;
  }
  /* line 182, ../project/src/sass/_media.sass */
  .subheader_logo {
    margin-top: 16px;
  }
  /* line 184, ../project/src/sass/_media.sass */
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  /* line 189, ../project/src/sass/_media.sass */
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 9px;
    margin-top: 6px;
  }
  /* line 195, ../project/src/sass/_media.sass */
  .subheader_btn:hover {
    background-image: linear-gradient(to top, #1eacc1 0%, #4ce2ff 100%);
  }
  /* line 197, ../project/src/sass/_media.sass */
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  /* line 200, ../project/src/sass/_media.sass */
  .promo_descr {
    display: none;
  }
  /* line 202, ../project/src/sass/_media.sass */
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  /* line 206, ../project/src/sass/_media.sass */
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  /* line 211, ../project/src/sass/_media.sass */
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  /* line 216, ../project/src/sass/_media.sass */
  .promo_btn:hover {
    background-image: linear-gradient(to top, #1eacc1 0%, #4ce2ff 100%);
  }
  /* line 218, ../project/src/sass/_media.sass */
  .menu {
    width: 85%;
  }
  /* line 220, ../project/src/sass/_media.sass */
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  /* line 224, ../project/src/sass/_media.sass */
  .menu_link {
    display: block;
  }
  /* line 229, ../project/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  /* line 231, ../project/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(5px) rotate(45deg);
  }
  /* line 233, ../project/src/sass/_media.sass */
  .reasons {
    padding: 22px 0 36px 0;
  }
  /* line 235, ../project/src/sass/_media.sass */
  .reasons_block {
    margin-top: 26px;
  }
  /* line 237, ../project/src/sass/_media.sass */
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  /* line 240, ../project/src/sass/_media.sass */
  .reasons_descr {
    width: 100%;
    margin-top: 27px;
  }
  /* line 243, ../project/src/sass/_media.sass */
  .reasons_subtitle {
    font-size: 16px;
    text-align: left;
  }
  /* line 246, ../project/src/sass/_media.sass */
  .reasons_text {
    margin-top: 0;
  }
  /* line 248, ../project/src/sass/_media.sass */
  .mobile {
    padding: 20px 0 40px 0;
  }
  /* line 250, ../project/src/sass/_media.sass */
  .mobile .row {
    margin-top: 30px;
  }
  /* line 252, ../project/src/sass/_media.sass */
  .mobile_item {
    height: 254px;
    padding: 81px 40px 0 40px;
  }
  /* line 255, ../project/src/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  /* line 258, ../project/src/sass/_media.sass */
  .mobile_item_plus {
    bottom: 28px;
  }
  /* line 261, ../project/src/sass/_media.sass */
  .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
    background-color: #1eacc1;
  }
  /* line 263, ../project/src/sass/_media.sass */
  .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000;
  }
  /* line 267, ../project/src/sass/_media.sass */
  .choice_img {
    margin-top: 35px;
  }
  /* line 269, ../project/src/sass/_media.sass */
  .choice_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  /* line 275, ../project/src/sass/_media.sass */
  .choice .black {
    display: none;
  }
  /* line 277, ../project/src/sass/_media.sass */
  .hidden-320 {
    display: none;
  }
  /* line 279, ../project/src/sass/_media.sass */
  .require {
    padding: 25px;
  }
  /* line 281, ../project/src/sass/_media.sass */
  .require_block {
    margin: 30px 0 0 0;
  }
  /* line 283, ../project/src/sass/_media.sass */
  .require_title {
    font-size: 16px;
  }
  /* line 285, ../project/src/sass/_media.sass */
  .require_list {
    padding-left: 30px;
    margin-top: 5px;
  }
  /* line 288, ../project/src/sass/_media.sass */
  .require_list li {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  /* line 292, ../project/src/sass/_media.sass */
  .require_descr {
    font-size: 14px;
    margin-top: 15px;
  }
  /* line 295, ../project/src/sass/_media.sass */
  .world {
    min-height: 360px;
    padding: 25px 0 30px 0;
  }
  /* line 298, ../project/src/sass/_media.sass */
  .world_link {
    width: 200px;
    display: block;
    bottom: 30px;
    line-height: 15px;
  }
  /* line 303, ../project/src/sass/_media.sass */
  footer {
    padding: 25px 0 20px 0;
  }
  /* line 306, ../project/src/sass/_media.sass */
  .footer_divider {
    width: 253px;
    margin: 0 auto;
  }
  /* line 309, ../project/src/sass/_media.sass */
  .footer_wrapper {
    padding-top: 22px;
  }
  /* line 311, ../project/src/sass/_media.sass */
  .footer_wrapper > div {
    margin-bottom: 20px;
  }
  /* line 313, ../project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    order: 2;
  }
  /* line 315, ../project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(2) {
    order: 1;
  }
  /* line 317, ../project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    order: 3;
  }
  /* line 319, ../project/src/sass/_media.sass */
  .footer_links {
    width: 290px;
  }
  /* line 321, ../project/src/sass/_media.sass */
  .footer_links_main {
    padding: 0;
    font-size: 14px;
  }
  /* line 324, ../project/src/sass/_media.sass */
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 327, ../project/src/sass/_media.sass */
  .footer_links_sub a {
    margin: 0 7px;
  }
  /* line 329, ../project/src/sass/_media.sass */
  .footer_links_lang {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
